<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>UTN Materias</title>
</head>
<body>
    <section id="container">
        <div id="subject_0_year_0" class="ingreso">
            Ingreso
        </div>
        <div id="grid-container">

        </div>
    </section>
</body>
<script src="{% static 'js/index.js' %}"></script>
<script>
    getTree('{{ career }}')
</script>
</html>