<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>UTN Materias</title>
</head>
<body>
    <div class="subject">
        <p class="subject-name">
            Analisis matem&aacute;tico
        </p>
    </div>
    <div class="subject">
        <p class="subject-name">
            F&iacute;sica 1
        </p>
    </div>
    <div class="subject">
        <p class="subject-name">
            &Aacute;lgebra y geometria anal&iacute;tica
        </p>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>