@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #eaeaf7;
    height: 100dvh;
}

#selector-title{
    text-align: center;
    color: #706579;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

#selector{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    width: 40%;
    height: 100%;
}

#careers-list{
    padding: 0;
}

.career{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    height: 40px;
    border-bottom: 3px solid #b2adb6;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #6e607a;
    font-size: 20px;
    transition: ease color 0.3s;
    padding: 10px
}

.career:hover{
    cursor: pointer;
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .career{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 80%;
        height: 40px;
        border-bottom: 3px solid #b2adb6;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        color: #6e607a;
        font-size: 15px;
        transition: ease color 0.3s;
        padding: 10px
    }
    
}